.side-bar{
    position: fixed;
    top: -30vh;
    left: 0;
    width: 80%;
    padding: 15px 10%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.side-bar h1{
    margin: 0;
    font-size: 1.3rem;
    color: white;
    float: left;

}
.side-bar .nav-bar-btn{
    color: rgba(255, 255, 255, 0.6);
    margin: 0 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.side-bar .nav-bar-btn:hover{
    color: rgba(255, 255, 255, 1);
}
.side-bar svg{
    color: white;
}

.side-bar-btns{
    position: fixed;
    top: 33vh;
    right: 0;
    height: 45.7vh;
    width: 50vw;
    min-width: 60%;
    background-color: rgb(236, 182, 2);
    transition: all 1s ease;
    transform: translate(100%, 0);
    z-index: 11;
    border: 3px solid white;

}

.menu-icon{
    top: 96vh;
    right: -10.5vw;
}  

.side-bar-btns.opened{
    transform: translate(0%, 0);
}

.side-bar .nav-bar-btn{
    width: 100%;
    padding: 0 10%;
    margin: 20px 0;
}

.close-icon{
    float: left;

}  

.container1 img.biopp{
    position: relative;
    right: 0.5%;
    max-height: 55vh;
    align-self: center;
    border: 3px solid white;
}

.container1 img{
    position: relative;
    right: 0.5%;
    max-height: 55vh;
    width: 100%;
    align-self: center;
}


.side-bar-btns .container1{
    padding: 20px;
    clear:right;
    height: 55vh;
}

.container1 .left{
    float:left;
    width:35%;
    min-width: none;
}

.container1 .center{
    width:25%;
    float: left;
    min-width: none;
}

.container1 .right{
    float:right;
    width:35%;
    margin: 1%;
}

.side-bar-btns .bio{
    margin-left: 10%;
    margin-right: 10%;
}
.side-bar-btns .container1 h1{
    text-align: center;
    font-size:54px;
    text-transform:uppercase;
    font-weight: 700;
    letter-spacing:2px;
}  

.side-bar-btns .container2{
    top: 80%;
    clear: left;
    background-color: rgb(21, 35, 72);
}

.right img{
    width: 40px;
    padding: 10px;
}
.side-bar-btns b{
    font-weight: 600;
    font-size: 30px;
    color: rgb(240, 240, 240);
}

.side-bar-btns h2{
    font-weight: 500;
    font-size: 20px;
    color: rgb(240, 240, 240);
}

.socials{
    position: absolute;
    bottom: 1.3vh;
}
.logos{
    position: absolute;
    bottom: 1vh;
    right: 3vw;

}